

<nav class="navbar navbar-expand-md navbar-dark d-none d-sm-none d-md-block bg-dark">
      <div class="container">
         <a class="navbar-brand" href="/">
                <h3>Amazon</h3>
            </a>

            <form action="" class="w-100" style="flex:1">
                <div class="input-group w-100" >
                        {{!-- Drop down menu --}}
                       <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            All
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Laptops</a></li>
                            <li><a class="dropdown-item" href="#">Electronics</a></li>
                            <li><a class="dropdown-item" href="#">Other</a></li>
                        </ul>
                        </div>
                        <input type="text" id="search-field" class="form-control">
                        <button class="btn bg-main"> <i class="fas fa-search"></i></button>
                </div>
            </form>
      

  </div>
</nav>
